<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quara Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quara Posts</h1>

   <% for(post of posts){ %>
<div class="post">
    <h3 class="user">@<%= post.username %></h3>
    <h4 class="content"><%= post.content %></h4>
    <a href="/<%=post.id%>">show in detail</a>
    <a href="/<%=post.id%>/edit">Edit</a>

<form method="post"  action="/<%= post.id %>?_method=DELETE">

<BUtton>
    DELETE
</BUtton></form>
</div>




  <% } %>

  <a href="/new">Create new post</a>
</body>
</html>